
.nav-content{
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: center;

}
.nav-content li{
    margin: 0px 20px;
   
}
.nav-content li a{
    text-decoration: none;
    color: white;
    font-size: larger;
    font-weight: 900;
}